body {
  margin: 0;
  height: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

div {
  position: absolute;
  left: 20;
  top: 10;
  width: 50%;
  text-align: center;
  max-width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=submit] {
  width: 50%;
  color: #404040;
  background-color: #fcca67;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #fcdc9c;
}

#playpause {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.button {
  width: 10%;
  margin-top: 45px;
  margin-left: 35%;
  padding: 0.2%;
  font-family: Helvetica;
  border-radius: 5px;
  font-size: 0.85em;
  border: none;
  color: #404040;
  background-color: #fcca67;
  font-weight: bold;
  outline: 0;
}

.button:hover {
  background-color: #fcdc9c;
}


