@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Righteous);

#title {
  justify-content: center;
  font-size: 30px;
  font-family: 'Righteous', cursive;
  margin: 0;
  margin-bottom: 20px;
  color: #595959;
}

body {
  background: url(../resources/Trump-Main2.png);
  background-size: cover;
  padding: 0;
  margin: 0;
}

menu {
  margin-left: 12%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

left {
  margin-top: 5%;
  margin-left: 5%;
  display: inline-flex;
  flex-direction: column;
}

.button {
  width: 50%;
  padding: 6%;
  margin-top: 20%;
  margin-left: 11%;
  font-family: Helvetica;
  border-radius: 5px;
  font-size: 0.85em;
  border: none;
  color: #404040;
  background-color: #fcca67;
  font-weight: bold;
  outline: 0;
}

.button:hover {
  background-color: #fcdc9c;
}

.menu-subtitle {
  font-size: 12px;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

table {
  width: 100%;
}

th, td {
  text-align: left;
}

.table-row {
  height: 30px;
}

.winner {
  font-size: 0.9em;
  font-family: 'Cabin', sans-serif;
}

.medal {
  max-width: 50px;
}
