@import url('https://fonts.googleapis.com/css?family=Contrail+One');

.pointer {
  cursor:pointer;
}

#title {
  font-size: 40px;
  font-family: 'Righteous', cursive;
  margin: 0;
  color: #595959;
}

.menu-subtitle {
    font-size: 12px;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

body {
  background: url(../resources/Trump-Main.png);
  background-size: cover;
  padding: 0;
  margin: 0;
}

menu {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

left {
  margin-top: 5%;
  margin-left: 5%;
  display: inline-flex;
  flex-direction: column;
}

.button {
  width: 33%;
  padding: 2%;
  margin-top: 4.5%;
  margin-left: 11%;
  font-family: Helvetica;
  border-radius: 5px;
  font-size: 0.85em;
  border: none;
  color: #404040;
  background-color: #fcca67;
  font-weight: bold;
  outline: 0;
}

.button:hover {
  background-color: #fcdc9c;
}

.back {
    font-size: 1em;
}
