@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Righteous);

.pointer {
  cursor: pointer;
}

#title {
  font-size: 30px;
  font-family: 'Righteous', cursive;
  margin: 0;
  margin-bottom: 20px;
  color: #595959;
}

.menu-subtitle {
  font-size: 12px;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

left {
  margin-top: 5%;
  margin-left: 5%;
  display: inline-flex;
  flex-direction: column;
}

body {
  background: url(../resources/images/Trump-Main.png);
  background-size: cover;
  padding: 0;
  margin: 0;
}

.volume {
  width: 30px;
}

menu {
  margin-left: 11%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  width: 80%;
  padding: 10%;
  font-family: Helvetica;
  border-radius: 5px;
  font-size: 0.85em;
  border: none;
  color: #404040;
  background-color: #fcca67;
  font-weight: bold;
  outline: 0;
}

.button:hover {
  background-color: #fcdc9c;
}
